@charset "UTF-8";
/*
1 - Elements
* 1.01 - Colors
* 1.02 - CSS Animations
* 1.03 - Backtotop Button
* 1.04 - Gapping or Spacing
* 1.05 - Menu bar (unordered lists)
* 1.06 - Buttons
* 1.07 - Typography
* 1.08 - Social Icons
* 1.09 - Pagination Nav
2 - Parts
* 2.01 - Site Header
* 2.02 - Site Footer
* 2.03 - Page Header
* 2.04 - Page Hero
3 - Pages
* 3.01 - Services
* 3.02 - Contact
*/

:root {
  --bs-font-body: Georgia, serif;
  --bs-font-heading: Georgia, serif;
  --bs-body-font-weight: 400;
  --bs-body-font-size: 20px;
  --bs-body-line-height: 28px;
  --bs-body-font-size-md: 20px;
  --bs-body-line-height-md: 30px;
  --bs-body-color: #4f2a2c;
  --bs-body-color-rgb: 81,86,93;
  --bs-transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  --bs-primary: #f4fcfa;
  --bs-secondary: var(--bs-social-link-color);
  --bs-dark: #4b3031;
  --bs-primary-bg-subtle: #F4FCFA;
  --bs-secondary-bg-subtle: #FEF3DE;
  --bs-link-color: var(--bs-body-color);
  --bs-link-hover-color: var(--bs-menu-text-active-color);  
  --bs-border-radius: 24px;
  --bs-border-radius-sm: 6px;
  --bs-border-radius-lg: 30px;
  --bs-border-radius-xl: 80px 0 80px 0;
  --bs-border-radius-xxl: 150px 0 150px 0;
  --bs-border-radius-pill: 100%;
  --bs-box-shadow: 0px 1px 2px 1px rgba(43, 171, 160, 0.14);
  --bs-box-shadow-lg: 0px 20px 40px 0px rgba(43, 171, 160, 0.08);
  --bs-btn-text-color: var(--bs-dark);
  --bs-btn-body-color: #e5e5f5b8;
  --bs-menu-text-active-color: var(--bs-secondary);
  --bs-social-link-color: #434893;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  font-style: normal;§
  color: var(--bs-body-color);
  font-family: var(--bs-font-body);
  background-color: var(--bs-body-bg);
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page_wrapper {
  overflow: hidden;
  position: relative;
}

iframe {
  border: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

embed,
object {
  height: auto;
  max-width: 100%;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

a {
  outline: 0;
  display: inline-block;
  text-decoration: none;
  font-family: var(--bs-font-heading);
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
}
a:active, a:focus, a:hover, a:visited {
  outline: 0;
  text-decoration: none;
}

button {
  padding: 0px;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  font-family: var(--bs-font-heading);
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
}
button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: var(--bs-dark);
  font-family: var(--bs-font-heading);
}

hr {
  opacity: 1;
  height: 1px;
  border: none;
  margin: 25px 0;
  background-color: var(--bs-dark);
  background-color: ;
}

mark {
  padding: 0;
  color: var(--bs-primary);
  background-color: transparent;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: -15px;
}

[class*=col-] {
  padding: 15px;
}

.dropdown-menu {
  padding: 8px 0;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--bs-white);
  border: 1px solid rgba(38, 171, 163, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(43, 171, 160, 0.12);
          box-shadow: 0 5px 20px 0 rgba(43, 171, 160, 0.12);
  -webkit-animation: 0.2s ease-in-out 0s normal none 1 running fadeIn;
          animation: 0.2s ease-in-out 0s normal none 1 running fadeIn;
}
.dropdown-menu:before {
  left: 0;
  right: 0;
  top: -20px;
  content: "";
  height: 20px;
  display: block;
  position: absolute;
}
.dropdown-menu > li {
  padding: 0 5px;
}
.dropdown-menu > li:not(:last-child) {
  margin-bottom: 1px;
}
.dropdown-menu > li > a {
  display: block;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 9px 18px;
  position: relative;
  border-radius: 6px;
  white-space: nowrap;
  color: var(--bs-body-color);
}
.dropdown-menu > li:hover > a {
  color: var(--bs-primary);
  background-color: var(--bs-primary-bg-subtle);
}
.dropdown-menu .dropdown-item:hover {
  color: var(--bs-secondary);
  background-color: var(--bs-primary-bg-subtle);
}
.dropdown-toggle::after {
  margin: 0;
  border: none;
  line-height: 1;
  content: "\f107";
  font-weight: 400;
  color: var(--bs-body-color);
  font-family: "Font Awesome 6 Free";
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* 1.01 - Colors
================ */
.bg_primary {
  background-color: var(--bs-primary);
}

.bg_secondary {
  background-color: var(--bs-secondary);
}

.bg_primary_light {
  background-color: var(--bs-primary-bg-subtle);
}
.bg_primary_light[class*=shape] {
  background-color: #C1E3DE;
}

.bg_secondary_light {
  background-color: var(--bs-secondary-bg-subtle);
}

/* 1.02 - CSS Animations
======================== */
.decoration_wrapper {
  z-index: 1;
  position: relative;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spin_animation {
  -webkit-animation: spin 5000ms infinite linear;
          animation: spin 5000ms infinite linear;
}

/* 1.03 - Backtotop Button
========================== */
.backtotop {
  right: 15px;
  z-index: 999;
  bottom: 96px;
  display: none;
  position: fixed;
}
.backtotop .scroll {
  z-index: 1;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bs-white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bs-secondary);
  border-radius: var(--bs-border-radius-pill);
}
.backtotop .scroll i {
  -webkit-animation: bttIconMover 1s infinite alternate;
          animation: bttIconMover 1s infinite alternate;
}

/* 1.04 - Gapping or Spacing
============================ */
.section_space_lg {
  padding-top: 120px;
  padding-bottom: 60px;
}
.index_section_space_lg {
  padding-top: 80px;
  padding-bottom: 60px;
}

/* 1.05 - Menu bar
=================== */
[class*=unordered_list] {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
[class*=unordered_list] > li {
  float: left;
  list-style: none;
  display: inline-block;
}

.unordered_list_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.unordered_list_block > li {
  width: 100%;
  display: block;
}

/* 1.06 - Buttons
================= */
.btns_group {
  margin: -12px;
}
.btns_group > li {
  padding: 12px;
}

.btn {
  padding: 0 40px;
  overflow: hidden;
  font-weight: 700;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  border-radius: var(--bs-border-radius-lg);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: transform 0.6s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: transform 0.6s cubic-bezier(0.15, 0.85, 0.31, 1), -webkit-transform 0.6s cubic-bezier(0.15, 0.85, 0.31, 1);
}
.btn .btn_text {
  position: relative;
  display: inline-block;
  padding: 12px 0 14px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: transform 0.5s cubic-bezier(0.15, 0.85, 0.31, 1);
  transition: transform 0.5s cubic-bezier(0.15, 0.85, 0.31, 1), -webkit-transform 0.5s cubic-bezier(0.15, 0.85, 0.31, 1);
}
.btn .btn_text:before {
  top: 100%;
  left: 50%;
  width: 100%;
  display: block;
  position: absolute;
  content: attr(data-text);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.btn:hover .btn_text {
  -webkit-transform: translateY(-76%);
          transform: translateY(-76%);
}

.btn-primary {  
  --bs-btn-bg:var(--bs-btn-body-color);
  --bs-btn-color: var(--bs-btn-text-color);
  --bs-btn-border-color: var(--bs-dark);
  --bs-btn-hover-bg: var(--bs-btn-body-color);
  --bs-btn-hover-color: var(--bs-btn-text-color);
  --bs-btn-hover-border-color: var(--bs-dark);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-dark);
}

a[class*=-primary],
button[class*=-primary] {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(43, 171, 160, 0.08);
          box-shadow: 0px 10px 40px 0px rgba(43, 171, 160, 0.08);
}
a[class*=-primary]:hover,
button[class*=-primary]:hover {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(43, 171, 160, 0.2);
          box-shadow: 0px 10px 40px 0px rgba(43, 171, 160, 0.2);
}

.btn-link {
  padding: 0;
  line-height: 1;
  font-weight: 700;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: var(--bs-body-font-size);
}
.btn-link .btn_text {
  position: relative;
}
.btn-link .btn_text:before {
  left: 0;
  bottom: -1px;
  width: 0%;
  content: "";
  height: 1px;
  position: absolute;
  background-color: var(--bs-primary);
  -webkit-transition: width 0.6s cubic-bezier(0.1, 0.75, 0.25, 1);
  transition: width 0.6s cubic-bezier(0.1, 0.75, 0.25, 1);
}
.btn-link:hover {
  color: var(--bs-link-hover-color);
}
.btn-link {
  color: var(--bs-link-color);
}
.btn-link:hover .btn_text:before {
  width: 100%;
}

/* 1.07 - Typography
==================== */
.section_heading {
  margin-bottom: 40px;
}
.section_heading .section_heading_text {
  font-size: 42px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 15px;
}
.section_heading .section_heading_description {
  font-size: 20px;
  line-height: 32px;
}
.section_heading.text-center .section_heading_description {
  margin: auto;
  width: 80%;
  text-align: left;
}

/* 1.08 - Social Icons
====================== */
.social_title {
  line-height: 1;
  font-size: 20px;
  margin-bottom: 20px;
}
.social_links {
  margin: -6px;
}
.social_links > li {
  padding: 6px;
}
.social_links a {
  z-index: 1;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  color: var(--bs-white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bs-social-link-color);
}
.social_links a:before {
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 100%;
  -webkit-animation: spin 5000ms infinite linear;
          animation: spin 5000ms infinite linear;
  border: 1px dashed var(--bs-social-link-color);
}
.social_links a i {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.social_links a:hover i {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.social_links a:hover:before {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.social_links a.bg-primary:before {
  border-color: var(--bs-primary);
}

/* 1.09 - Pagination Nav
======================== */
.pagination_wrap {
  padding-top: 50px;
}
.pagination_nav {
  margin: -5px;
}
.pagination_nav li {
  padding: 5px;
}
.pagination_nav a {
  width: 40px;
  height: 40px;
  display: block;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--bs-body-color);
  font-size: var(--bs-body-font-size);
  font-family: var(--bs-font-heading);
  border-radius: var(--bs-border-radius-pill);
}
.pagination_nav li:hover a, .pagination_nav li.active a {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}
nav ul li a.active {
  color: var(--bs-menu-text-active-color);
  background-color: var(--bs-primary);
}

/* 2.01 - Site Header
===================== */
.site_header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 40px 0;
  position: fixed;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site_header.sticky {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: var(--bs-white);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.mobile_menu_btn {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bs-white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bs-secondary);
  border-radius: var(--bs-border-radius-pill);
}
.mobile_menu_btn i {
  font-weight: 700;
}

.main_menu {
  padding: 0;
}
.main_menu_list > li:not(:last-child) {
  margin: 0 16px 0 0;
}
.main_menu_list > li > a {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  display: block;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding: 10px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bs-dark);
  border: 1px solid transparent;
  border-radius: var(--bs-border-radius-sm);
}
.main_menu_list > li:hover > a, .main_menu_list > li.active > a {
  color: var(--bs-menu-text-active-color);
  background-color: var(--bs-primary-bg-subtle);
}
.main_menu_list > li:hover > a:after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.main_menu_list .dropdown > a {
  position: relative;
}
.main_menu_list .dropdown > a:after {
  float: right;
  font-size: 14px;
  content: "\f107";
  font-weight: 900;
  margin: 3px 0 0 4px;
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
  font-family: "Font Awesome 6 Free";
}
.main_menu_list .dropdown-menu {
  display: none;
  margin: 2px 0 0;
  min-width: 210px;
  inset: 100% auto auto auto;
}
.main_menu_list .dropdown-menu:before {
  top: -4px;
  height: 2px;
}
.main_menu_list .dropdown-menu > li:hover > a, .main_menu_list .dropdown-menu > li.active > a {
  color: var(--bs-menu-text-active-color);
  background-color: var(--bs-primary-bg-subtle);
}
.main_menu_list .dropdown-menu .dropdown > a:after {
  margin-top: 1px;
  content: "\f105";
}
.main_menu_list .dropdown-menu .dropdown-menu {
  top: 0;
  margin: 0;
  left: 100%;
}
.main_menu_list .dropdown-menu.show {
  display: block;
}
@media screen and (min-width: 992px) {
  .main_menu_list .dropdown-menu {
    opacity: 0;
    display: block;
    display: block;
    -webkit-transition: 200ms;
    transition: 200ms;
    visibility: hidden;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: perspective(300px) rotateX(-8deg);
            transform: perspective(300px) rotateX(-8deg);
  }
  .main_menu_list .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: perspective(300px) rotateX(0deg);
            transform: perspective(300px) rotateX(0deg);
  }
}
.header_btns_group > li:not(:first-child) {
  margin: 0 0 0 10px;
}
.header_btns_group > li:first-child {
  display: none;
}

/* 2.02 - Site Footer
===================== */
.site_footer .info_list {
  margin: -6px -15px;
}
.site_footer .info_list > li {
  padding: 6px 15px;
}
.site_footer .info_list .info_icon {
  width: auto;
  font-size: 5px;
  margin: 2px 8px 0 0;
}
.site_footer .info_list .info_icon i {
  opacity: 0.4;
  color: black;
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
}
.site_footer .info_list a {
  color: black;
}
.site_footer .info_list a:hover {
  color: var(--bs-menu-text-active-color);
}
.site_footer .info_list a:hover .info_icon i {
  opacity: 1;
}
.site_footer_content {
  padding: 38px 0;
}

/* 2.03 - Page Header
===================== */
.page_title {
  font-size: 54px;
  font-weight: 800;
  line-height: 60px;
  margin-bottom: 30px;
}

/* 2.04 - Page Hero Section
=========================== */
.hero_section {  
  width: 100%;
  height: 100vh;
  background: url("../images/pareja.png") ;
  background-size: contain;
  background-repeat: no-repeat !important;
  background-position: right bottom;
  //for browser compatibility
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}
.hero_section .heading_text {
  font-size: 42px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 20px;
  max-width: 490px;
  backdrop-filter: blur(10px);
}
.hero_section .heading_description {
  backdrop-filter: blur(10px);
}
.hero_section p {
  max-width: 582px;
  margin-bottom: 42px;
  font-size: var(--bs-body-font-size-md);
  line-height: var(--bs-body-line-height-md);
}
.hero_section .hero_content_wrap {
  padding-top: 250px;
}
.hero_section .hero_section_counter {
  margin-top: 86px;
}
.hero_section .shape_blur_shadow {
  top: 30px;
  left: -200px;
  width: 640px;
  height: 640px;
  opacity: 0.06;
  -webkit-filter: blur(67px);
          filter: blur(67px);
  background-color: var(--bs-primary);
  border-radius: var(--bs-border-radius-pill);
}
.hero_image_wrap {
  z-index: 1;
  padding: 60px;
  position: relative;
}
.hero_image_wrap:after, .hero_image_wrap:before {
  width: 85%;
  height: 85%;
  z-index: -1;
  content: "";
  position: absolute;
}
.hero_image_wrap:before {
  top: 0;
  left: 0;
  background-color: var(--bs-secondary-bg-subtle);
}
.hero_image_wrap:after {
  right: 0;
  bottom: 0;
  background-color: #C1E3DE;
}
.hero_image_wrap img {
  border-radius: var(--bs-border-radius-xxl);
}


/* 3.01 - Services Page
======================= */
.service_item {
  padding: 60px 60px 53px;
  -webkit-box-shadow: var(--bs-box-shadow);
          box-shadow: var(--bs-box-shadow);
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
  background-color: var(--bs-white);
  border-radius: var(--bs-border-radius);
}
.service_item:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: var(--bs-box-shadow-lg);
          box-shadow: var(--bs-box-shadow-lg);
}
.service_item .item_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}
.service_item p {
  margin-bottom: 30px;
}
.col-lg-4 {
  width: 50%;
}
.service_item .item_icon_galanta {
  width: 85%;
  height: auto;
  margin-top: -15px;
  border-radius: 100%;
  margin-bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;          
}
.service_item .item_icon_galanta img {
  width: 20%;
  margin-top: -35px;
}
.service_item .item_contact_galanta {
  margin-top: 19px;
  margin-bottom: -28px;
}
.service_item .item_icon_individual {
  width: 85%;
  height: auto;
  margin-top: -15px;
  border-radius: 100%;
  margin-bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}
.service_item .item_icon_individual img {
  width: 47%;
}
.service_item .item_contact_individual {
  margin-top: 25px;
}
.service_item .item_icon_parental {
  width: 40%;
  height: auto;
  margin-top: -30px;
  border-radius: 100%;
  margin-bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
}
.service_item .item_icon_parental img {
  width: 39%;
}
.service_item .item_contact_parental {
  margin-top: 25px;
  margin-bottom: 108px;
}
.service_item .item_icon_students {
  width: 85%;
  height: auto;
  margin-top: -15px;
  border-radius: 100%;
  margin-bottom: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;          
}
.service_item .item_icon_students img {
  width: 27%;
  margin-top: -35px;
}
.service_item .item_contact_students {
  margin-top: 8px;
  margin-bottom: -34px;
}

.service_item {
  cursor: pointer;
}
.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-bottom: 10px;
}
.content.show {
  margin-bottom: 20px;
}
.content_individual {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-bottom: -21px;
}
.content_individual.show {
  margin-bottom: 20px;
}
.content_parental {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  margin-bottom: -134px;
}
.content_parental.show {
  margin-top: 40px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* 3.02 - Contact Page
====================== */
.contact_info_box {
  padding: 40px;
  overflow: hidden;
  word-break: break-all;
  -webkit-transition: var(--bs-transition);
  transition: var(--bs-transition);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-primary-bg-subtle);
}
.contact_info_box .item_icon {
  font-size: 46px;
  margin-bottom: 38px;
  color: #305184;
}
.contact_info_box .item_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 22px;
}
.contact_info_box .info_list > li {
  color: #51565D;
}
.contact_info_box .info_list > li:not(:last-child) {
  margin-bottom: 10px;
}
.gmap_canvas {
  position: relative; 
  max-width: 1125px;
  margin: auto;
}
.gmap_canvas iframe {
  height: 500px;
  width: 100%;
}

/* Media Screen 1440px
====================== */
@media screen and (max-width: 1440px) {
  :root {
    --bs-body-font-size: 17px;
    --bs-body-line-height: 26px;
    --bs-body-font-size-md: 18px;
    --bs-body-line-height-md: 28px;
    --bs-border-radius-xl: 40px 0 40px 0;
    --bs-border-radius-xxl: 75px 0 75px 0;
  }
  .container {
    max-width: 1230px;
  }
  .site_header {
    padding: 26px 0px;
  }
  .main_menu_list > li:not(:last-child) {
    margin: 0 10px 0 0;
  }  
  .hero_section .heading_text {
    font-size: 42px;
    line-height: 54px;
    font-weight: 700;
  }
  .hero_section p {
    max-width: 490px;
    margin-bottom: 30px;
  }
  .hero_section .hero_content_wrap {
    padding-top: 220px;
  }
  .btn {
    padding: 0px 34px;
  }
  .btn .btn_text {
    padding: 10px 0 12px;
  }
  .hero_section_counter {
    margin: -20px;
  }
  .hero_section .hero_section_counter {
    margin-top: 40px;
  }
  .hero_section_counter > li {
    padding: 20px;
  }
  .section_heading .section_heading_text {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .section_heading.text-center .section_heading_description {    
    margin: auto;
    text-align: left;
  }
  .section_heading .section_heading_description {
    font-size: 18px;
    line-height: 28px;
  }
  .service_item .item_contact_galanta {
    margin-top: 26px;
  }
  .service_item .item_contact_parental {
    margin-bottom: 122px;
  }
  .contact_info_list .item_info {
    font-size: 16px;
  }
  .site_footer .info_list {
    margin: -5px -12px;
  }
  .site_footer .info_list > li {
    padding: 5px 12px;
  }
  .gmap_canvas {
    max-width: 960px;
  }
  .gmap_canvas iframe {
    height: 450px;
  }
}

/* Media Screen 1199px
====================== */
@media screen and (max-width: 1199px) {
  .service_item {
    font-size: 17px;    
  }
  .main_menu_list > li > a {
    font-size: 15px;
    padding: 8px 12px;
  }
  .main_menu_list > li:not(:last-child) {
    margin: 0 6px 0 0;
  }
  .main_menu_list .dropdown > a:after {
    font-size: 12px;
    margin: 2px 0 0 3px;
  }
  .hero_section .heading_text {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .hero_image_wrap {
    padding: 30px;
  }
  .hero_section .hero_content_wrap {
    padding-top: 220px;    
  }
  .hero_section_counter .counter_value {
    font-size: 30px;
    line-height: 24px;
  }
  .hero_section_counter .counter_description {
    font-size: 16px;
    max-width: 130px;
    line-height: 22px;
  }
  .hero_section_counter {
    margin: -15px;
  }
  .hero_section .hero_section_counter {
    margin-top: 20px;
  }
  .hero_section_counter > li {
    padding: 15px;
  }
  .section_heading .section_heading_text {
    font-size: 30px;
    line-height: 38px;
  }
  .section_space_lg {
    padding-top: 140px;
  }
  .service_item .item_contact_galanta {
    margin-bottom: -2px;
  }
  .gmap_canvas {
    max-width: 930px;
  }
  .gmap_canvas iframe {
    height: 400px;
  }
}

/* Media Screen 1024px
====================== */
@media screen and (max-width: 1024px) {  
  .contact_infobox_wrapper > [class*="-3"] {
    width: 33.333%;
  }
  .gmap_canvas {
    max-width: 790px;
  }
}

/* Media Screen 991px
===================== */
@media screen and (max-width: 991px) {
  .container {
    max-width: 730px;
  }
  .site_header {
    padding: 15px 0px;
  }
  .site_header.sticky {
    padding-top: 10px;
    padding-bottom: 15px;  
  }
  .header_btns_group > li:first-child {
    display: inline-block;
  }
  .main_menu {
    left: 0;
    right: 0;
    top: 69px;
    z-index: 999;
    position: fixed;
  }
  .main_menu_inner {
    padding: 0 15px;
  }
  .main_menu_list > li {
    width: 100%;
    display: block;
    margin: 1px 0 !important;
  }
  .main_menu_list {
    margin: auto;
    padding: 15px;
    max-width: 730px;
    border-radius: 10px;
    background-color: var(--bs-white);
    border: 1px solid rgba(38, 171, 163, 0.3);
    -webkit-box-shadow: 0 5px 20px 0 rgba(43, 171, 160, 0.12);
            box-shadow: 0 5px 20px 0 rgba(43, 171, 160, 0.12);
  }
  .main_menu_list > li > a {
    width: 100%;
    display: block;
  }
  .main_menu_list .dropdown-menu {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main_menu_list > li > a {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }  
  .hero_image_wrap {
    padding: 30px;
    margin-top: 20px;
  }
  .gmap_canvas {
    max-width: 560px;
  }
  .gmap_canvas iframe {
    height: 300px;
  }
  .site_footer {
    text-align: center;
  }  
  .contact_infobox_wrapper > [class*="-3"] {
    width: 50%;
  }
  .page_title {
    font-size: 48px;
  }  
  .site_footer_content .col-lg-3 {
    width: 19%;
  }
  .site_footer_content .col-lg-6 {
    width: 56%;
  }
  .hero_section {
    background-position: center bottom;    
  }
  .hero_section .hero_content_wrap {
    padding-top: 180px;
    padding-left: 100px;
  }
  .about_content .section_heading .section_heading_description {
    padding-top: 10px;
    font-size: 18px;
    line-height: 34px;
  }
  .about_section img {
    padding-top: 0px;
    padding-left: 30px;
  }
  .col-lg-4 {
    width: 100%;
  }
}

/* Media Screen 767px
===================== */
@media screen and (max-width: 767px) {
  .section_heading .section_heading_description {
    font-size: 16px;
    line-height: 26px;
  }
  .gmap_canvas.contact_map iframe {
    height: 400px;
  }
  .section_space_lg {
    padding-top: 130px;
  }
}

/* Media Screen 680px
===================== */
@media screen and (max-width: 680px) {
  .prev_next_post_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev_next_post_nav > a {
    width: 100%;
    padding: 30px;
    max-width: 100%;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-primary-bg-subtle);
  }
  .prev_next_post_nav > a:not(:last-child) {
    margin-bottom: 15px;
  }
  .prev_next_post_nav > a .item_icon {
    background-color: var(--bs-white);
  }
  .prev_next_post_nav > a:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
 .site_footer_content {
    padding: 18px 0;
  }
  .site_footer_content .col-sm-3 {
    width: 10%;
  }
  .site_footer_content .col-lg-3 {
    width: 22%;
  }
  .site_footer_content .col-lg-6 {
    width: 68%;
  }
  .hero_section .hero_content_wrap {
    padding-top: 170px;
    padding-left: 75px;
  }
  .gmap_canvas {
    max-width: 514px;
  }
  .gmap_canvas iframe {
    height: 280px;
  }
  .about_content .section_heading .section_heading_description {
    margin-left: -35px;
  }
}

/* Media Screen 575px
===================== */
@media screen and (max-width: 575px) {
  .main_menu {
    top: 68px;
  }
  .header_btns_group > li:not(:first-child) {
    display: none;
  }
  .hero_section .heading_text {
    font-size: 34px;
  }
  .backtotop .scroll {
    width: 38px;
    height: 38px;
    font-size: 15px;
  }
  .backtotop {
    bottom: 74px;
  }
  [class*=_details_section] .details_item_title {
    font-size: 30px;
    line-height: 36px;
  }
  [class*=_details_section] .details_content p {
    font-size: 16px;
    line-height: 26px;
  }
  .contact_infobox_wrapper > [class*="-3"] {
    width: 100%;
  }
  blockquote {
    padding: 40px;
    display: block;
    margin-bottom: 30px;
  }
  blockquote .quote_icon {
    margin: 0 0 20px 0;
  }
  blockquote span {
    font-size: 20px;
    line-height: 26px;
  }
  .section_heading {
    margin-bottom: 20px;
  }
  .contact_info_box .item_title {
    line-height: 1;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .social_links a {
    width: 34px;
    height: 34px;
  }
  .section_space_lg {
    padding-top: 110px;
  }
  .site_footer_content {
    padding: 18px 0;
  }
  .site_footer_content .col-sm-3 {
    width: 22%;
  }
  .site_footer_content .col-lg-3 {
    width: 26%;
  }
  .site_footer_content .col-lg-6 {
    width: 49%;
  }
  .hero_section .hero_content_wrap {
    padding-top: 165px;
    padding-left: 40px;
  }
  .gmap_canvas {
    max-width: 375px;
  }
  .about_content .section_heading .section_heading_description {
    margin-left: -60px;
  }
}

/* Media Screen 425px
===================== */
@media screen and (max-width: 425px) {
  :root {
    --bs-body-font-size-md: 16px;
    --bs-body-line-height-md: 26px;
  }
  .hero_section .heading_text {
    font-size: 30px;
  }
  .hero_section_counter > li {
    width: 50%;
  }
  .info_list > li {
    font-size: 15px;
    line-height: 17px;
  }
  .main_menu {
    top: 63px;
  }
  .gmap_canvas iframe {
    height: 300px;
  }
  .backtotop {
    bottom: 98px;
  }
  .service_item {
    padding: 35px;
  }
  .service_item .item_title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .site_header + main > .page_banner {
    margin-top: 62px;
  }
  .page_title {
    font-size: 42px;
    line-height: 1.2;
  }
  [class*=_details_section] .details_item_title {
    font-size: 26px;
    line-height: 30px;
  }
  .section_space_lg {
    padding-top: 100px;
  }
  .site_footer_content .col-sm-3 {
    width: 16%;
  }
  .site_footer_content .col-lg-3 {
    width: 30%;
  }
  .site_footer_content .col-lg-6 {
    width: 54%;
  }
  .hero_section .hero_content_wrap {
    padding-top: 140px;
    padding-left: 25px;
  }
  .gmap_canvas {
    max-width: 334px;
  }
  .about_content .section_heading .section_heading_description {
    margin-left: -64px;
  }
}

/* Media Screen 375px
===================== */
@media screen and (max-width: 375px) {
  .site_header .site_logo {
    margin-right: -50px;
  }
  .hero_section .heading_text {
    font-size: 25px;
    line-height: 36px;
  }
  .section_heading .section_heading_text {
    font-size: 24px;
    line-height: 34px;
  }
  .page_title {
    font-size: 32px;
  }
  .page_banner [class*=shape_leaf] {
    max-width: 100px;
  }
  .site_footer_content .col-sm-3 {
    width: 0%;
  }
  .site_footer_content .col-lg-3 {
    width: 18%;
  }
  .site_footer_content .col-lg-6 {
    width: 63%;
  }
  .hero_section .hero_content_wrap {
    padding-top: 100px;
    padding-left: 25px;
  }
  .hero_section .heading_text {
    font-size: 22px;
  }
  .gmap_canvas {
    max-width: 255px;
  }
  .gmap_canvas iframe {
    height: 300px;    
  }
}